<h3>Create a New Discount </h3>

<% if @bulk_discount != nil %>
  Discount Name: Holiday discount<br>
<% end %>
  
<%= render partial: 'new_holiday_dct', 
  locals: {
    path: merchant_bulk_discounts_path(@merchant.id),
    method: :post,
    value_percentage: @bulk_discount&.percentage_discount,
    value_quantity: @bulk_discount&.quantity_treshold,
    button_text: 'Submit'
  } 
%>
